*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7c73e6;
    box-sizing: border-box;
}


#hero h2{
    text-align: center;
    background-color: white;
    padding: 1%;
}
#hero p{
    margin:3%;
    color: white;
}
#hero p a{
text-decoration: none;
}

button{
    padding: 1%;
    color: #7c73e6;
}

/*Product session */
.product{
display: flex;
width: 90%;
margin: 0 2%;

}

.product img{
width: 100%;
object-fit:cover;
height: 180px;
}

#item{
    background-color: #fff;
    padding: 1%;
    margin: 2%;
    width: 50%;
    border-radius: 6%;
    box-shadow: #fff; 
    
}

#item h4{
    padding: 10px;
}

footer{
    background-color: #fff;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    
}


/*Responsiveness */
@media (max-width:600px){
    .product{
        display: flex;
        flex-direction: column;
        padding: auto 15%;
        width: 100%;
        margin: 10%;
    }
 
}